body {
  background: #f8e8a6;
  text-align: center;
}

img {
  margin-bottom: 26px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.page-link {
  color: green;
  margin: 0 10px;
}

.photo-link-header {
  margin-bottom: 30px;
}
